include LICENSE.md
recursive-include koko/dict
include load_embedding_model.sh

recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
